/**
 * 100%NL design tokens
 */

:root,
body {
  --font-primary: "Avant Garde", sans-serif;
  --font-secondary: "Circular Book", sans-serif;
  --brand-footer: #000;
  --brand-primary: #000;
  --brand-secondary: #12a638;
  --brand-secondary-active: #12a638;
  --text-on-primary: #fff;
  --text-on-footer: #fff;
  --text-on-secondary: #fff;
  --neutral-min: #fff;
  --neutral-100: #fafafa;
  --neutral-200: #f1f1f1;
  --neutral-300: #ededed;
  --neutral-400: #ededed;
  --neutral-500: #e8e8e8;
  --neutral-600: #bababa;
  --neutral-700: #8b8b8b;
  --neutral-800: #5d5d5d;
  --neutral-900: #1e1e1e;
  --neutral-max: #000;
  --error: #dd5e56;
  --success: #a6cb72;
  --link-background: rgb(255 255 255 / 20%);
  --hero-gradient: linear-gradient(#01156400, #000c, #000);
  --tabbar-color: #ef7d00;
  --header-icons-color: #fff;
}

@font-face {
  font-family: "Avant Garde";
  src: url("/fonts/avant-garde-gotic-bold.otf") format("otf");
}

@font-face {
  font-family: "Circular Book";
  src: url("/fonts/circular-book.otf") format("otf");
}
