/**
 * Sublime design tokens
 */

:root,
body {
  --font-primary: "Sarabun", sans-serif;
  --font-secondary: "Poppins", sans-serif;
  --brand-footer: #000;
  --brand-primary: #253d39;
  --brand-secondary: #32635b;
  --brand-secondary-active: #cdfe00;
  --text-on-primary: #fff;
  --text-on-footer: #fff;
  --text-on-secondary: #fff;
  --neutral-min: #fff;
  --neutral-100: #fafafa;
  --neutral-200: #f1f1f1;
  --neutral-300: #ededed;
  --neutral-400: #ededed;
  --neutral-500: #e8e8e8;
  --neutral-600: #bababa;
  --neutral-700: #8b8b8b;
  --neutral-800: #5d5d5d;
  --neutral-900: #1e1e1e;
  --neutral-max: #000;
  --error: #dd5e56;
  --success: #a6cb72;
  --link-background: rgb(255 255 255 / 20%);
  --hero-gradient: linear-gradient(#01156400, #000c, var(--brand-secondary));
  --tabbar-color: #253d39;
  --header-icons-color: #fff;
  --play-button: #cdfe00;
}

@font-face {
  font-family: "Sarabun";
  src: url("/fonts/sarabun-extrabold.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-regular.woff2") format("woff2");
}
