/**
 * Veronica design tokens
 */

:root,
body {
  --font-primary: "Brutal Type", sans-serif;
  --font-secondary: "Replica", sans-serif;
  --brand-footer: #011564;
  --brand-primary: #0091ff;
  --brand-secondary: #fe0170;
  --brand-secondary-active: #cb015a;
  --text-on-primary: #fff;
  --text-on-footer: #fff;
  --text-on-secondary: #fff;
  --neutral-min: #fff;
  --neutral-100: #fafafa;
  --neutral-200: #f1f1f1;
  --neutral-300: #ededed;
  --neutral-400: #ededed;
  --neutral-500: #e8e8e8;
  --neutral-600: #bababa;
  --neutral-700: #8b8b8b;
  --neutral-800: #5d5d5d;
  --neutral-900: #1e1e1e;
  --neutral-max: #000;
  --error: #dd5e56;
  --success: #a6cb72;
  --link-background: rgb(255 255 255 / 20%);
  --hero-gradient: linear-gradient(#01156400, #011564cc, #011564);
  --tabbar-color: #0091ff;
  --header-icons-color: #fff;
}

@font-face {
  font-family: "Brutal Type";
  src: url("/fonts/brutal-type-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Brutal Type";
  font-weight: 900;
  src: url("/fonts/brutal-type-black.woff2") format("woff2");
}

@font-face {
  font-family: "Brutal Type";
  font-weight: bold;
  src: url("/fonts/brutal-type-bold.woff2") format("woff2");
}

@font-face {
  font-family: Replica;
  font-weight: bold;
  src: url("/fonts/replica-bold.woff2") format("woff2");
}

@font-face {
  font-family: Replica;
  font-weight: 900;
  src: url("/fonts/replica-heavy.woff2") format("woff2");
}
